.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

.header {
    color: var(--primary-color);
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -12px;
    margin-bottom: 12px;
    position: relative;

    .eye {
        color: var(--primary-color);
        margin-right: 12px;
        cursor: pointer;
    }

    .text {
        text-transform: uppercase;
        font-weight: 700;
    }

    .view-list {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 8px 0;
        overflow: hidden;

        .view-item {
            font-size: 1.6rem;
            padding: 4px 12px;
            cursor: pointer;
            color: var(--text-color);

            &.active,
            &:hover {
                color: white;
                background-color: var(--primary-color);
            }
        }
    }
}

.products-show {
    background-color: #eeeeee;
    min-height: 100%;
    padding: 36px;
}

.filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;

    .eye-wrapper {
        display: flex;
        align-items: center;

        .icon {
            margin: 0 16px;
            cursor: pointer;
        }
    }

    .add-btn-wrapper {
        margin-right: 32px;
        margin-left: auto;
        cursor: pointer;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }

    .add-btn {
        border: 2px solid black;
        padding: 8px 12px;
        font-weight: 500;
        margin: 0 4px;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.search-wrapper {
    margin-bottom: -20px;
}

.action-btn {
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .gap {
        margin-right: 12px;
    }
}
