.select-modal-wrapper {
    width: 30%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

.select-modal-img-wrapper {
    height: 30%;
    // flex: 1;
    overflow: hidden;
    border-bottom: 2px rgb(132, 132, 132) solid;

    .select-modal-img {
        // transform: translateY(-20%);
        margin: auto;
    }
}

.select-modal-product-list {
    padding: 8px 16px;
    flex: 1;
    overflow-y: auto;
}

.product-item {
    // border: 1px black solid;
    margin: 16px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.selections {
    padding: 4px 0;
}

.product-item-animation {
    background-color: var(--primary-color);
    position: absolute;
    width: 80%;
    height: 100%;
}

.animation-border {
    height: 40px;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 160px;
    transform: rotate(-90deg);
}

.animation-img {
    width: 200%;
    height: 100%;
    background-size: 50% 40px;
    background-repeat: repeat no-repeat;
    animation: wavy 15s linear infinite;

    &.click {
        background-size: 0 0;
    }
}

@keyframes wavy {
    0% {
        transform: scaleY(1) translateX(0);
    }
    50% {
        transform: scaleY(1) translateX(-25%);
    }
    100% {
        transform: scaleY(1) translateX(-50%);
    }
}

.selection {
    position: relative;
    padding: 4px 8px;

    &.colorWhite {
        color: white;
    }

    .selection-section {
        font-weight: 700;
        font-size: 1.6rem;
    }

    .selection-name {
        font-size: 1.4rem;
        opacity: 0.5;
    }
}

.product-item-arrow {
    position: absolute;
    font-size: 2rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.select-modal-new-btn {
    box-shadow: rgba(0, 0, 0, 0.35) 6px 0 15px;
    margin: 8px;

    // margin-bottom: 4px;
    height: 42px;
}
